@font-face {
  font-family: 'Hobbiton';
  src: url('hobitton.woff');
}

#bbd-logo {
    position: absolute;
    bottom: 30px;
    left: 30px;
}

#title {
    h1, h2, h3, h4 {
        margin:0;
        letter-spacing: 0.1em;
    }
}
.reveal .hobbiton {
    font-family: 'Hobbiton', Arial;      

    h2, h3 {
        text-align: center;
        font-family: 'Hobbiton', Arial;      
    }

    h2 {
        font-size: 3em;
        margin-top: 0em;
        margin-bottom: 0em;
    }
}
/* introduction */
#introduction {
    position: relative;
    width: 960px;
    height: 700px;
}
#mike {
    background: url(../lib/images/mike.png) no-repeat;
    width: 200px;
    height: 200px;
    background-size: contain;
    margin: auto;
}

#bbd {
    position:absolute;
    left: 0px;
    bottom: 50px;
    background: url(../lib/images/bbd-full.png) no-repeat;
    width: 400px;
    height: 200px;
    background-size: contain;
}

#geocities {
    position:absolute;
    left: 100px;
    bottom: 300px;
    background: url(../lib/images/geocities.png) no-repeat;
    width: 200px;
    height: 237px;
    background-size: contain;
}

#languages {
    position:absolute;
    right: 50px;
    top: 200px;
    background: url(../lib/images/languages.png) no-repeat;
    width: 348px;
    height: 214px;
    background-size: contain;
}

#love-js {
    position:absolute;
    right: 50px;
    top: 310px;
    background: url(../lib/images/love-js.png) no-repeat;
    width: 348px;
    height: 139px;
    background-size: contain;
    transform: rotate(-25deg);
}

#programmer-beard {
    position: absolute;
    top: 122px;
    background: url(../lib/images/beard.png) no-repeat;
    width: 164px;
    height: 150px;
    background-size: contain;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
}

#frameworks {
    position:absolute;
    right: 135px;
    bottom: 75px;
    background: url(../lib/images/frameworks.png) no-repeat;
    width: 400px;
    height: 200px;
    background-size: contain;
}
/* end introduction */

/* questions */
#twitter, #github, #bbd-email {
    display: inline-block;
    width: 30px;
    height: 30px;
}
#twitter {
    background: url(../lib/images/twitter.png) no-repeat;
    margin: 0 5px -7px 0;
    background-size: contain;
}
#github {
    background: url(../lib/images/github.png) no-repeat;
    margin: 0 5px -1px 0;
    background-size: contain;
}
#bbd-email {
    background: url(../lib/images/bbd.png) no-repeat;
    margin: 0 5px -3px 0;
    background-size: contain;
}
/* end questions */

.reveal {
    section.gist {
        width: 960px;
        height: 700px;
    }

    gist {
        display: block;
        width: 960px;
        height: 600px;

        files {
            float: left;
            padding-top: 20px;
            width: 230px;

            file {
                font-size: 0.9vw;
                display: block;
                text-align: left;
                padding: 0 10px;

                &.selected {
                    font-weight: bold;
                    background-color: #f8f8f8;
                    width: 100%;
                    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
                }
            }
        }

        folder {
            font-size: 0.9vw;
            text-align: left;            
            display: block;
            padding-left: 20px;
            margin-bottom: 10px;
        }

        pre {
            float: left;
            width: 700px;
            height: 100%;

            code {
                height: 550px;
                max-height: inherit;
                font-size: 0.9vw;
                overflow-x: hidden;
                overflow-wrap: break-word;
                padding-bottom: 50px;
                
            }
        }

        // div.focus-only {
        //     position: absolute;
        //     height: 600px;
        //     width: 680px;
        //     background: rgba(255,255,255,0.7);
        //     z-index: 1;
        // }

        code strong {
            z-index: 9999;
            position: relative;
        }
    }
}

.dim {
    $opacity: 0.3;

    &.hljs {
    color: rgba(51, 51, 51, $opacity);
    }

    .hljs-comment,
    .diff .hljs-header {
    color: rgba(153,153,136, $opacity);
    }

    .hljs-keyword,
    .css .rule .hljs-keyword,
    .hljs-winutils,
    .nginx .hljs-title,
    .hljs-subst,
    .hljs-request,
    .hljs-status {
    color: rgba(51, 51, 51, $opacity);
    }

    .hljs-number,
    .hljs-hexcolor,
    .ruby .hljs-constant {
    color: rgba(0,128,132,$opacity);
    }

    .hljs-string,
    .hljs-tag .hljs-value,
    .hljs-doctag,
    .tex .hljs-formula {
    color: rgba(221, 17, 68, $opacity);
    }

    .hljs-title,
    .hljs-id,
    .scss .hljs-preprocessor {
    color: rgba(153,0,0,$opacity);
    }

    .hljs-class .hljs-title,
    .hljs-type,
    .vhdl .hljs-literal,
    .tex .hljs-command {
    color: rgba(68,85,136,$opacity);
    }

    .hljs-tag,
    .hljs-tag .hljs-title,
    .hljs-rule .hljs-property,
    .django .hljs-tag .hljs-keyword {
    color: rgba(0,0,128,$opacity);
    }

    .hljs-attribute,
    .hljs-variable,
    .lisp .hljs-body,
    .hljs-name {
    color: rgba(0, 128, 128, $opacity);
    }

    .hljs-regexp {
    color: rgba(0, 153,38,$opacity);
    }

    .hljs-symbol,
    .ruby .hljs-symbol .hljs-string,
    .lisp .hljs-keyword,
    .clojure .hljs-keyword,
    .scheme .hljs-keyword,
    .tex .hljs-special,
    .hljs-prompt {
    color: rgba(153,0,115,$opacity);
    }

    .hljs-built_in {
    color: rgba(0, 134,179,$opacity);
    }

    .hljs-preprocessor,
    .hljs-pragma,
    .hljs-pi,
    .hljs-doctype,
    .hljs-shebang,
    .hljs-cdata {
    color: rgba(153, 153, 153, $opacity);
    }

    .hljs-deletion {
    background: rgba(255,221,221,$opacity);
    }

    .hljs-addition {
    background: rgba(221,255,221,$opacity);
    }

    .diff .hljs-change {
    background: rgba(0,134,179,$opacity);
    }

    .hljs-chunk {
    color: rgba(170,170,170,$opacity);
    }
}

.dim strong {
    color: rgba(51, 51, 51, 1);
    font-style: normal;

    .hljs-comment,
    .diff .hljs-header {
    color: rgba(153,153,136,  1);
    }

    .hljs-keyword,
    .css .rule .hljs-keyword,
    .hljs-winutils,
    .nginx .hljs-title,
    .hljs-subst,
    .hljs-request,
    .hljs-status {
    color: rgba(51, 51, 51,  1);
    }

    .hljs-number,
    .hljs-hexcolor,
    .ruby .hljs-constant {
    color: rgba(0,128,132, 1);
    }

    .hljs-string,
    .hljs-tag .hljs-value,
    .hljs-doctag,
    .tex .hljs-formula {
    color: rgba(221, 17, 68,  1);
    }

    .hljs-title,
    .hljs-id,
    .scss .hljs-preprocessor {
    color: rgba(153,0,0, 1);
    }

    .hljs-class .hljs-title,
    .hljs-type,
    .vhdl .hljs-literal,
    .tex .hljs-command {
    color: rgba(68,85,136, 1);
    }

    .hljs-tag,
    .hljs-tag .hljs-title,
    .hljs-rule .hljs-property,
    .django .hljs-tag .hljs-keyword {
    color: rgba(0,0,128, 1);
    }

    .hljs-attribute,
    .hljs-variable,
    .lisp .hljs-body,
    .hljs-name {
    color: rgba(0, 128, 128,  1);
    }

    .hljs-regexp {
    color: rgba(0, 153,38, 1);
    }

    .hljs-symbol,
    .ruby .hljs-symbol .hljs-string,
    .lisp .hljs-keyword,
    .clojure .hljs-keyword,
    .scheme .hljs-keyword,
    .tex .hljs-special,
    .hljs-prompt {
    color: rgba(153,0,115, 1);
    }

    .hljs-built_in {
    color: rgba(0, 134,179, 1);
    }

    .hljs-preprocessor,
    .hljs-pragma,
    .hljs-pi,
    .hljs-doctype,
    .hljs-shebang,
    .hljs-cdata {
    color: rgba(153, 153, 153,  1);
    }

    .hljs-deletion {
    background: rgba(255,221,221, 1);
    }

    .hljs-addition {
    background: rgba(221,255,221, 1);
    }

    .diff .hljs-change {
    background: rgba(0,134,179, 1);
    }

    .hljs-chunk {
    color: rgba(170,170,170, 1);
    }
}